#portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 60px 15% 60px 15%;
  font-size: 17px;
  background-color: #f2ece8;
  color: #3b6661;
}

.img-carousel {
  display: flex;
  margin: 40px 0px 40px 0px;
  width: 450px;
}

.text-decoration-none {
  text-decoration: none;
}

.livrables {
  display: flex;
  flex-direction: column;
  text-align: left;
}
