#home {
  margin: 0px;
  padding: 0px;
}

.background {
  object-fit: cover;
  height: 100vh;
}

.logo {
  top: 1%;
  left: 1%;
  width: 150px;
  height: auto;
  position: absolute;
}

.text {
  align-self: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.absolute {
  position: absolute;
}

.name {
  font-size: 80px;
  color: #3b6661;
}

.title {
  font-size: 30px;
}

.arrow {
  fill: #f2ece8;
  width: 60px;
  height: 60px;
  align-self: center;
  bottom: 3%;
  position: absolute;

  &:hover {
    animation: bounce 0.35s ease infinite alternate;
    cursor: pointer;
  }

  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }
}
