#services {
  background-color: #3b6661;
  color: #f2ece8;
}

.style-services {
  margin: 50px 20% 50px 20%;
  font-size: 17px;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

.block-services {
  display: flex;
}

.services {
  background-color: #f2ece8;
  color: #3b6661;
  margin: 20px;
  padding: 40px;
  width: 300px;
  height: auto;
}

.price-services {
  padding-top: 100px;
}

p {
  margin: 0px;
}
