#green {
  padding: 80px 15% 80px 15%;
  font-size: 22px;
  text-align: justify;
  background: #3b6661;
  color: #f2ece8;
}

.green-eco-content {
  display: flex;
  justify-content: space-between;
}

.green-block {
  display: flex;
  flex-direction: column;
  margin: 40px;
  text-align: start;
  width: 300px;
}

.green-title {
  font-size: 2em;
  color: #6fa9a29c;
  font-weight: 200;
}

.small-texte {
  font-weight: 200;
  font-size: 12px;
}

@media screen and (max-width: 810px) {
  #green {
    font-size: 18px;
  }
}
