#green {
  padding: 80px 20% 80px 20%;
  font-size: 22px;
  text-align: justify;
  background: #3b6661;
  color: #f2ece8;
  height: 100%;
}

.green-eco-content {
  display: flex;
  justify-content: space-between;
}

.green-block {
  display: flex;
  flex-direction: column;
  margin: 40px;
  text-align: start;
  width: 40%;
}

.green-title {
  font-size: 2em;
  color: #f2ece8;
  font-weight: 200;
}

.small-texte {
  font-weight: 200;
  font-size: 12px;
}

.center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 810px) {
  #green {
    font-size: 18px;
  }
}
