#contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 60px 15% 60px 15%;
  font-size: 17px;
  text-align: center;
  background-color: #b5a396;
  color: #f2ece8;
}

.contact-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  width: 30px;
  fill: #f2ece8;
  margin-right: 20px;
}

.hidden {
  visibility: hidden;
}
