#partnership {
  background-color: #f2ece8;
  color: #3b6661;
}

.style-partnership {
  margin: 50px 15% 50px 15%;
  font-size: 17px;
}

.partnership-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partnership-block {
  display: flex;
  flex-direction: column;
  margin: 40px;
  text-align: start;
  width: 300px;
}

.partnership-title {
  font-size: 50px;
}

.title-size {
  font-size: 40px;
}

.title-who {
  font-size: 25px;
  font-weight: 400;
  color: #3b6661;
}
