#partnership {
  padding: 100px 15% 100px 15%;
  font-size: clamp(18px, 5vw, 22px);
  background-color: #f2ece8;
  color: #3b6661;
}

.partnership-content {
  display: flex;
  justify-content: space-between;
}

.partnership-block {
  display: flex;
  flex-direction: column;
  margin: 40px;
  text-align: start;
  width: 300px;
}

.partnership-title {
  font-size: clamp(35px, 5vw, 45px);
}

.title-size {
  font-size: clamp(25px, 5vw, 35px);
}

@media screen and (max-width: 850px) {
  .partnership-content {
    flex-wrap: wrap;
  }
}
