@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500&display=swap");

body {
  margin: 0;
  font-family: "Dosis", "Roboto", sans-serif;
  color: #f2ece8;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}
